.login-container {
    background-color: #2b1a1a; /* Dark red */
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  input, button {
    margin: 10px 0;
  }
  