/* src/components/Login.css */

.login-container {
    background-color: #4b0f0f; /* Dark red */
    color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    width: 300px;
    margin: auto;
    text-align: center;
  }
  
  h2 {
    color: #1e90ff; /* Blue accent */
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
    text-align: left;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
  }
  
  button {
    background-color: #1e90ff; /* Blue */
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
  }
  
  button:hover {
    background-color: #0044cc; /* Darker blue */
  }
  